.pypirc
*.pyc
*.swp
*.rpm
*.egg
*.yaml
*.bak
trinoadmin.egg-info/
.tox/
.coverage
htmlcov/
log/
tmp/
.vscode/

# Ignore generated Sphinx docs
docs/trinoadmin.*
docs/modules.rst
docs/_build

# Ignore build folders
build/
dist/
.eggs/
.idea/
*.iml
*.egg/

# tmp backup files
*~
\#*#
.#*

#mvn targets
trino-admin-test/target

# presto yarn package for product tests
trino-yarn-package.zip

# python virtual env
venv/